.App {
  text-align: center;
}

.App-header {
  background-image: url(./images/rainclouds.png);
  height: 150px;
  padding: 20px;
}

#main-header {
  font-size: 50px;
  color: #ffadda;
  font-family: "Chelsea Market";
  margin-top: 35px;
  text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 4px 4px #fff, -4px -4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff;
}

#auth-input {
  font-family: 'Poppins';
	width: 300px;
	padding: 20px 0px;
	background: transparent;
	border: 0;
	outline: none;
	color: #6D7781;
	font-size: 14px;
}

#auth-button {
  border: none;
  border-radius: 3px;
  font-family: "Poppins";
  width: 100px;
  background: #9881F5;
  color: white;
  outline: none;
}

#login-header {
  font-family: "Chelsea Market";
  font-size: 40px;
  color: #20d7ff;
}

#login-submit {
	background: #99CCFF;
	border: 2px #CAE5FF solid;
	width: 300px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
  font-family: 'Poppins';
	font-size: 14px;
  outline: none;
}

#login-submit:hover {
  background: #20d7ff;
}

.auth-div {
  margin-bottom: 50px;
}

#signup-header {
  font-family: "Chelsea Market";
  font-size: 40px;
  color: #87E293;
}

#signup-submit {
	background: #87E293;
	border: 2px #AFEAAA solid;
	width: 300px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
  font-family: 'Poppins';
	font-size: 14px;
  outline: none;
}

#signup-submit:hover {
  background: #1dc18b
}

#activity-home {
  width: 500px;
  height: 300px;
  outline: none;
  font-family: "Chelsea Market";
  font-size: 40px;
  text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 4px 4px #fff, -4px -4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff;
  border: none;
  border-radius: 7px;
  background: url(https://img.elo7.com.br/product/zoom/C1C68E/papel-de-parede-4512ef-papel-de-parede-teen.jpg);
  background-repeat: repeat;
  margin-right: 8px;
}

#food-home {
  width: 500px;
  height: 300px;
  outline: none;
  font-family: "Chelsea Market";
  font-size: 40px;
  text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 4px 4px #fff, -4px -4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff;
  border: none;
  border-radius: 7px;
  background: url(http://68.media.tumblr.com/569b920dbdc5b91b206632e91098d086/tumblr_oqo9xrHXJO1qhy6c9o1_500.png);
  background-repeat: repeat;
}

#meetup-header {
  font-family: "Chelsea Market"
}

#meetup-title {
  font-family: "Viga";
  font-size: 13px;
  color: #786ce6
}

.meetup-items {
  width: 650px;
  border: 3px #7bdfc4 double;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;
  padding: 8px;
}

p {
  font-family: "Poppins"
}
