.App {
  text-align: center;
}

.App-header {
  background-image: url(./images/rainclouds.png);
  height: 150px;
  padding: 20px;
}

#main-header {
  font-size: 70px;
  color: #ffadda;
  font-family: "Fredoka One";
  margin-top: 35px
}

.App-intro {
  font-size: large;
}

.meetup-items {
  width: 650px;
  border: 2px #7bdfc4 double;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;
  padding: 8px;
}

p {
  font-family: "Quicksand"
}
